In [62]:
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import os
import sqlite3
from sqlalchemy import create_engine
import time
import numpy as np
import random
import logging

In [63]:
dataset = pq.ParquetDataset('../data/test/')
table = dataset.read()
df = table.to_pandas()

In [64]:
1518004680000

1518004680000

In [65]:
start = 1518004680000
end = start + (60*1000)*15

In [66]:
frame = None

In [76]:
frame = df.copy()

In [77]:
cols = ['close','high','low']
lvls = ['base_asset', 'timestamp_ms']

In [78]:
frame['timestamp_ms'] = pd.to_datetime(frame['timestamp_ms'], unit='ms')

In [79]:
frame = frame[lvls+cols]

In [80]:
frame[cols] = frame[cols].apply(pd.to_numeric, errors='coerce')

In [81]:
frame.set_index(lvls, inplace=True)
frame = frame.groupby(['base_asset','timestamp_ms']).first()

In [96]:
frame.loc['AE', 'close'].iloc[0] = None
frame.loc['AE', 'high'].iloc[0] = None
frame.loc['AE', 'low'].iloc[0] = None

In [102]:
frame = frame.reset_index()
mask = (frame['timestamp_ms'] > pd.to_datetime(1519800000000, unit='ms')) & (frame['timestamp_ms'] <= pd.to_datetime(1519855200000, unit='ms'))

In [104]:
frame.loc[mask]

        base_asset        timestamp_ms     close      high       low
27863           AE 2018-02-28 06:41:00  0.000233  0.000233  0.000232
27864           AE 2018-02-28 06:42:00  0.000233  0.000233  0.000233
27865           AE 2018-02-28 06:43:00  0.000233  0.000233  0.000233
27866           AE 2018-02-28 06:44:00  0.000233  0.000233  0.000233
27867           AE 2018-02-28 06:45:00  0.000233  0.000233  0.000233
27868           AE 2018-02-28 06:46:00  0.000233  0.000233  0.000233
27869           AE 2018-02-28 06:47:00  0.000233  0.000233  0.000233
27870           AE 2018-02-28 06:48:00  0.000233  0.000234  0.000233
27871           AE 2018-02-28 06:49:00  0.000235  0.000235  0.000234
27872           AE 2018-02-28 06:50:00  0.000236  0.000236  0.000235
27873           AE 2018-02-28 06:51:00  0.000235  0.000236  0.000235
27874           AE 2018-02-28 06:52:00  0.000235  0.000235  0.000235
27875           AE 2018-02-28 06:53:00  0.000233  0.000235  0.000233
27876           AE 2018-02-28 06:54:00  0.000235  0.000235  0.000235
27877           AE 2018-02-28 06:55:00  0.000235  0.000236  0.000234
27878           AE 2018-02-28 06:56:00  0.000235  0.000236  0.000235
27879           AE 2018-02-28 06:57:00  0.000235  0.000235  0.000234
27880           AE 2018-02-28 06:58:00  0.000236  0.000236  0.000236
27881           AE 2018-02-28 06:59:00  0.000236  0.000236  0.000236
27882           AE 2018-02-28 07:00:00  0.000238  0.000240  0.000236
27883           AE 2018-02-28 07:01:00  0.000238  0.000239  0.000238
27884           AE 2018-02-28 07:02:00  0.000238  0.000239  0.000238
27885           AE 2018-02-28 07:03:00  0.000238  0.000238  0.000236
27886           AE 2018-02-28 07:04:00  0.000240  0.000241  0.000238
27887           AE 2018-02-28 07:05:00  0.000237  0.000241  0.000236
27888           AE 2018-02-28 07:06:00  0.000237  0.000237  0.000235
27889           AE 2018-02-28 07:07:00  0.000237  0.000239  0.000237
27890           AE 2018-02-28 07:08:00  0.000240  0.000240  0.000237
27891           AE 2018-02-28 07:09:00  0.000241  0.000241  0.000239
27892           AE 2018-02-28 07:10:00  0.000241  0.000241  0.000240
...            ...                 ...       ...       ...       ...
2449934      WINGS 2018-02-28 21:31:00  0.000064  0.000065  0.000064
2449935      WINGS 2018-02-28 21:32:00  0.000065  0.000065  0.000065
2449936      WINGS 2018-02-28 21:33:00  0.000065  0.000065  0.000065
2449937      WINGS 2018-02-28 21:34:00  0.000065  0.000065  0.000065
2449938      WINGS 2018-02-28 21:35:00  0.000065  0.000065  0.000064
2449939      WINGS 2018-02-28 21:36:00  0.000065  0.000065  0.000065
2449940      WINGS 2018-02-28 21:37:00  0.000065  0.000065  0.000065
2449941      WINGS 2018-02-28 21:38:00  0.000065  0.000065  0.000065
2449942      WINGS 2018-02-28 21:39:00  0.000065  0.000065  0.000065
2449943      WINGS 2018-02-28 21:40:00  0.000065  0.000065  0.000065
2449944      WINGS 2018-02-28 21:41:00  0.000065  0.000065  0.000065
2449945      WINGS 2018-02-28 21:42:00  0.000065  0.000065  0.000065
2449946      WINGS 2018-02-28 21:43:00  0.000065  0.000065  0.000065
2449947      WINGS 2018-02-28 21:44:00  0.000065  0.000065  0.000065
2449948      WINGS 2018-02-28 21:45:00  0.000065  0.000065  0.000065
2449949      WINGS 2018-02-28 21:46:00  0.000065  0.000065  0.000065
2449950      WINGS 2018-02-28 21:47:00  0.000065  0.000065  0.000065
2449951      WINGS 2018-02-28 21:48:00  0.000065  0.000065  0.000065
2449952      WINGS 2018-02-28 21:49:00  0.000065  0.000065  0.000065
2449953      WINGS 2018-02-28 21:50:00  0.000065  0.000065  0.000065
2449954      WINGS 2018-02-28 21:51:00  0.000065  0.000065  0.000065
2449955      WINGS 2018-02-28 21:52:00  0.000065  0.000065  0.000065
2449956      WINGS 2018-02-28 21:53:00  0.000065  0.000065  0.000065
2449957      WINGS 2018-02-28 21:54:00  0.000065  0.000065  0.000065
2449958      WINGS 2018-02-28 21:55:00  0.000065  0.000065  0.000065
2449959      WINGS 2018-02-28 21:56:00  0.000065  0.000065  0.000065
2449960      WINGS 2018-02-28 21:57:00  0.000065  0.000065  0.000065
2449961      WINGS 2018-02-28 21:58:00  0.000065  0.000065  0.000065
2449962      WINGS 2018-02-28 21:59:00  0.000065  0.000065  0.000065
2449963      WINGS 2018-02-28 22:00:00  0.000065  0.000065  0.000065

[4600 rows x 5 columns]

In [97]:
frame.loc['AE']

                        close      high       low
timestamp_ms
2018-02-07 11:58:00       NaN       NaN       NaN
2018-02-07 11:59:00       NaN       NaN       NaN
2018-02-07 12:00:00  0.000385  0.000407  0.000370
2018-02-07 12:01:00  0.000390  0.000404  0.000385
2018-02-07 12:02:00  0.000376  0.000396  0.000355
2018-02-07 12:03:00  0.000361  0.000380  0.000361
2018-02-07 12:04:00  0.000362  0.000364  0.000356
2018-02-07 12:05:00  0.000368  0.000378  0.000360
2018-02-07 12:06:00  0.000376  0.000379  0.000364
2018-02-07 12:07:00  0.000375  0.000376  0.000367
2018-02-07 12:08:00  0.000375  0.000380  0.000370
2018-02-07 12:09:00  0.000390  0.000395  0.000374
2018-02-07 12:10:00  0.000383  0.000392  0.000375
2018-02-07 12:11:00  0.000388  0.000390  0.000382
2018-02-07 12:12:00  0.000390  0.000392  0.000388
2018-02-07 12:13:00  0.000379  0.000390  0.000374
2018-02-07 12:14:00  0.000375  0.000383  0.000373
2018-02-07 12:15:00  0.000382  0.000383  0.000376
2018-02-07 12:16:00  0.000387  0.000389  0.000381
2018-02-07 12:17:00  0.000379  0.000387  0.000379
2018-02-07 12:18:00  0.000370  0.000384  0.000370
2018-02-07 12:19:00  0.000360  0.000374  0.000359
2018-02-07 12:20:00  0.000367  0.000370  0.000351
2018-02-07 12:21:00  0.000365  0.000369  0.000359
2018-02-07 12:22:00  0.000360  0.000365  0.000357
2018-02-07 12:23:00  0.000365  0.000365  0.000361
2018-02-07 12:24:00  0.000365  0.000367  0.000360
2018-02-07 12:25:00  0.000370  0.000371  0.000365
2018-02-07 12:26:00  0.000371  0.000373  0.000370
2018-02-07 12:27:00  0.000375  0.000377  0.000371
...                       ...       ...       ...
2019-01-25 15:26:00  0.000116  0.000116  0.000116
2019-01-25 15:27:00  0.000116  0.000116  0.000116
2019-01-25 15:28:00  0.000116  0.000116  0.000116
2019-01-25 15:29:00  0.000116  0.000116  0.000116
2019-01-25 15:30:00  0.000116  0.000116  0.000116
2019-01-25 15:31:00  0.000116  0.000116  0.000116
2019-01-25 15:32:00  0.000116  0.000117  0.000116
2019-01-25 15:33:00  0.000116  0.000116  0.000116
2019-01-25 15:34:00  0.000116  0.000116  0.000116
2019-01-25 15:35:00  0.000116  0.000116  0.000116
2019-01-25 15:36:00  0.000116  0.000116  0.000116
2019-01-25 15:37:00  0.000116  0.000116  0.000116
2019-01-25 15:38:00  0.000116  0.000116  0.000116
2019-01-25 15:39:00  0.000116  0.000116  0.000116
2019-01-25 15:40:00  0.000116  0.000116  0.000116
2019-01-25 15:41:00  0.000116  0.000116  0.000116
2019-01-25 15:42:00  0.000116  0.000116  0.000116
2019-01-25 15:43:00  0.000116  0.000116  0.000116
2019-01-25 15:44:00  0.000116  0.000116  0.000116
2019-01-25 15:45:00  0.000116  0.000116  0.000116
2019-01-25 15:46:00  0.000116  0.000116  0.000116
2019-01-25 15:47:00  0.000116  0.000116  0.000116
2019-01-25 15:48:00  0.000116  0.000116  0.000116
2019-01-25 15:49:00  0.000116  0.000116  0.000116
2019-01-25 15:50:00  0.000116  0.000116  0.000116
2019-01-25 15:51:00  0.000116  0.000116  0.000116
2019-01-25 15:52:00  0.000116  0.000116  0.000116
2019-01-25 15:53:00  0.000116  0.000116  0.000116
2019-01-25 15:54:00  0.000116  0.000116  0.000116
2019-01-25 15:55:00  0.000116  0.000116  0.000116

[503266 rows x 3 columns]

In [98]:
y = frame.fillna(axis=1, method="bfill").fillna(axis=1, method="ffill").fillna(axis=0, method="ffill").fillna(axis=0, value=0.0)

In [99]:
t_index = list(range(int(start), int(end), 60))
        time_index = pd.to_datetime(t_index,unit='s')
        time_index = time_index.round('min')

                                   close      high       low
base_asset timestamp_ms
AE         2018-02-07 11:58:00  0.000000  0.000000  0.000000
           2018-02-07 11:59:00  0.000000  0.000000  0.000000
           2018-02-07 12:00:00  0.000385  0.000407  0.000370
           2018-02-07 12:01:00  0.000390  0.000404  0.000385
           2018-02-07 12:02:00  0.000376  0.000396  0.000355
           2018-02-07 12:03:00  0.000361  0.000380  0.000361
           2018-02-07 12:04:00  0.000362  0.000364  0.000356
           2018-02-07 12:05:00  0.000368  0.000378  0.000360
           2018-02-07 12:06:00  0.000376  0.000379  0.000364
           2018-02-07 12:07:00  0.000375  0.000376  0.000367
           2018-02-07 12:08:00  0.000375  0.000380  0.000370
           2018-02-07 12:09:00  0.000390  0.000395  0.000374
           2018-02-07 12:10:00  0.000383  0.000392  0.000375
           2018-02-07 12:11:00  0.000388  0.000390  0.000382
           2018-02-07 12:12:00  0.000390  0.000392  0.000388
           2018-02-07 12:13:00  0.000379  0.000390  0.000374
           2018-02-07 12:14:00  0.000375  0.000383  0.000373
           2018-02-07 12:15:00  0.000382  0.000383  0.000376
           2018-02-07 12:16:00  0.000387  0.000389  0.000381
           2018-02-07 12:17:00  0.000379  0.000387  0.000379
           2018-02-07 12:18:00  0.000370  0.000384  0.000370
           2018-02-07 12:19:00  0.000360  0.000374  0.000359
           2018-02-07 12:20:00  0.000367  0.000370  0.000351
           2018-02-07 12:21:00  0.000365  0.000369  0.000359
           2018-02-07 12:22:00  0.000360  0.000365  0.000357
           2018-02-07 12:23:00  0.000365  0.000365  0.000361
           2018-02-07 12:24:00  0.000365  0.000367  0.000360
           2018-02-07 12:25:00  0.000370  0.000371  0.000365
           2018-02-07 12:26:00  0.000371  0.000373  0.000370
           2018-02-07 12:27:00  0.000375  0.000377  0.000371
...                                  ...       ...       ...
WPR        2019-01-25 17:00:00  0.000004  0.000004  0.000004
           2019-01-25 17:01:00  0.000004  0.000004  0.000004
           2019-01-25 17:02:00  0.000004  0.000004  0.000004
           2019-01-25 17:03:00  0.000004  0.000004  0.000004
           2019-01-25 17:04:00  0.000004  0.000004  0.000004
           2019-01-25 17:05:00  0.000004  0.000004  0.000004
           2019-01-25 17:06:00  0.000004  0.000004  0.000004
           2019-01-25 17:07:00  0.000004  0.000004  0.000004
           2019-01-25 17:08:00  0.000004  0.000004  0.000004
           2019-01-25 17:09:00  0.000004  0.000004  0.000004
           2019-01-25 17:10:00  0.000004  0.000004  0.000004
           2019-01-25 17:11:00  0.000004  0.000004  0.000004
           2019-01-25 17:12:00  0.000004  0.000004  0.000004
           2019-01-25 17:13:00  0.000004  0.000004  0.000004
           2019-01-25 17:14:00  0.000004  0.000004  0.000004
           2019-01-25 17:15:00  0.000004  0.000004  0.000004
           2019-01-25 17:16:00  0.000004  0.000004  0.000004
           2019-01-25 17:17:00  0.000004  0.000004  0.000004
           2019-01-25 17:18:00  0.000004  0.000004  0.000004
           2019-01-25 17:19:00  0.000004  0.000004  0.000004
           2019-01-25 17:20:00  0.000004  0.000004  0.000004
           2019-01-25 17:21:00  0.000004  0.000004  0.000004
           2019-01-25 17:22:00  0.000004  0.000004  0.000004
           2019-01-25 17:23:00  0.000004  0.000004  0.000004
           2019-01-25 17:24:00  0.000004  0.000004  0.000004
           2019-01-25 17:25:00  0.000004  0.000004  0.000004
           2019-01-25 17:26:00  0.000004  0.000004  0.000004
           2019-01-25 17:27:00  0.000004  0.000004  0.000004
           2019-01-25 17:28:00  0.000004  0.000004  0.000004
           2019-01-25 17:29:00  0.000004  0.000004  0.000004

[3358206 rows x 3 columns]

In [ ]:
y = x.copy()
y.set_index(level_names, inplace=True)
top_assets = random.sample(list(y.index.levels[0]), 2)
y = y.loc[top_assets]
y.reset_index(inplace=True)
y.set_index(level_names, inplace=True)
y = y.groupby(['base_asset','timestamp_ms']).first()

In [4]:
y

NameError: name 'y' is not defined

In [ ]:
tf = y.copy()
tf[cols] = tf[cols].apply(pd.to_numeric, errors='coerce')
tf.reset_index(inplace=True)
tf.set_index(level_names, inplace=True)

In [ ]:
z = tf[cols]

In [ ]:

z = z.to_xarray().to_array()

In [ ]:
z.shape

In [ ]:
z